<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Welcome</h1>
  </div>
</div>
<div class="text-center">
  <h3>Go to <a href="/widgets">widgets</a> page.</h3>
</div>
